/* catzStyles.css file */
/* .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
  } */
  .container {
    display: grid;
    grid-template-columns: minmax(100px, auto);
    justify-content: center;
    grid-gap: 5px;
    grid-row: repeat(6, 1fr);
  }
  .one {
    grid-column: 1 / span 2;
  }
  .two {
    grid-column: 1 / span 2;
  }
  .three {
    grid-column: 1 / span 3;
  }
  .four {
    grid-column: 1 / span 3;
  }
  .five {
    grid-column: 1 / span 3;
  }
  .six {
    grid-column: 3;
    grid-row: 1 / span 3
  } 